{% load static %}

<!doctype html>
<html lang="en">


<head>
    <title>Pass Email Sent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/forget_password_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">


</head>

<body class="img js-fullheight" style="background-image: url('{% static  "img/bg.jpg" %}');">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Reset Password</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h2 class="mb-4 text-center">Reset password email successfully sent</h2>
                        <form action="" class="signin-form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <h3>Please check your inbox to reset your password</h3>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-md-right">
                                    <a href="{% url 'account_login' %}" style="color: #fff">Login</a>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="{% url 'account_signup' %}" style="color: #fff">Sign up</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if messages %}
    <div id="toast-container">
        {% for message in messages %}
        <div class="toast show toast-{{ message.tags }}">
            <span>{{ message }}</span>
            <button class="close-btn" onclick="closeToast(this)">×</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <script src="{% static 'js/jquery_min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap_min.js' %}"></script>
    <script src="{% static 'js/user_main.js' %}"></script>
    <script src="{% static 'js/show_message.js' %}"></script>


</body>

</html>