{% load static %}

<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Snippet - BBBootstrap</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}">
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <style>

  </style>
</head>

<body className='snippet-body'>
  <div class="container mt-5 d-flex justify-content-center">

    <div class="card p-3">

      <div class="d-flex align-items-center">

        <div class="image">
          <img src="" class="rounded" width="155">
        </div>

        <div class="ml-3 w-100">

          <h4 class="mb-0 mt-0">{{request.user.username}}</h4>

          <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

            <div class="d-flex flex-column">

              <span class="articles">email</span>
              <span class="number1">{{request.user.email}}</span>

            </div>


            <div class="d-flex flex-column">

              <span class="rating">site</span>
              <span class="number3">travelista</span>

            </div>

          </div>


          <div class="button mt-2 d-flex flex-row align-items-center">

            <button class="btn btn-sm btn-outline-primary w-100"
              onclick="window.location.href='{% url 'home:index' %}'">main page</button>
            <button class="btn btn-sm btn-outline-primary w-100"
              onclick="window.location.href='{% url 'account_logout' %}'">logout</button>
            {% if user.otp_device %}
            <button class="btn btn-sm btn-primary w-100 ml-2"
              onclick="window.location.href='{% url 'two-factor-remove' %}'">deactivate 2fa</button>
            {% else %}
            <button class="btn btn-sm btn-primary w-100 ml-2"
              onclick="window.location.href='{% url 'two-factor-setup' %}'">activate 2fa</button>
            {% endif %}



          </div>


        </div>


      </div>

    </div>

  </div>

  {% if messages %}
  <div id="toast-container">
    {% for message in messages %}
    <div class="toast show toast-{{ message.tags }}">
      <span>{{ message }}</span>
      <button class="close-btn" onclick="closeToast(this)">×</button>
    </div>
    {% endfor %}
  </div>
  {% endif %}


  <script type='text/javascript'
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
  <script type='text/javascript' src='#'></script>
  <script type='text/javascript' src='#'></script>
  <script type='text/javascript' src='#'></script>
  <script type='text/javascript'>#</script>
  <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
    myLink.addEventListener('click', function (e) {
      e.preventDefault();
    });</script>
  <script src="{% static 'js/show_message.js' %}"></script>



</body>

</html>