::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {

  background-color: #B3E5FC;
  border-radius: 10px;

}


.card {
  width: 400px;
  border: none;
  border-radius: 10px;

  background-color: #fff;
}



.stats {

  background: #f2f5f8 !important;

  color: #000 !important;
}

.articles {
  font-size: 10px;
  color: #a1aab9;
}

.number1 {
  font-weight: 500;
}

.followers {
  font-size: 10px;
  color: #a1aab9;

}

.number2 {
  font-weight: 500;
}

.rating {
  font-size: 10px;
  color: #a1aab9;
}

.number3 {
  font-weight: 500;
}

.justify-content-between {
  justify-content: space-around !important;
}

.w-100 {
  margin-left: 5px;
}