<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>

<body>
    <h1>this is test</h1>
    {% for post in all_posts %}
    {% if post.status == 1 %}
    <ul>
        <li>
            <h1>{{post.title}}<h1>
        </li>
        <li>
            <p>{{post.content}}</p>
        </li>
        <li>
            <small>{{post.created_time}}</small>
        </li>
    </ul>
    {% else %}
    <p>not published yet</p>
    {% endif %}

    <h1>________________</h1>

    {% endfor %}
</body>

</html>